.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 30rem;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    
}

@media screen and (min-width: 393px) {
    .content {
        max-width: 393px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
ol{
    margin: 0;
    padding: 0;

}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #fff;
    text-align: right;
    font-size: 1rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.5rem;
}


.pokemon .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    margin-top: 3rem;
    max-width: 50%;
    /* height: 100px; */
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.info{
    text-align: center;
}

.base_stats{
    background-color: #f5f5f5;
    border-radius: 1rem;
    margin: .5rem;
}

.status {
    border-radius: 1rem;
    text-align: center;
    width: 80%;
    align-self: center;
}
.status.hp{
    background-color: rgb(255, 170, 170);
}
.status.att{
    background-color: rgb(255, 213, 134);
}
.status.def{
    background-color: rgb(155, 240, 255);
}
.status.satt{
    background-color: rgb(249, 185, 255);
}
.status.sdef{
    background-color: rgb(159, 148, 255);
}
.status.speed{
    background-color: rgb(181, 255, 187);
}